# Local Development:
DEBUG=True
STAGE=local
DATABASE_URL=postgres://postgres@postgres:5432/db
APP_ENV=local
APP_DOMAIN=http://abaca.pixel:9000
APP_BASE_URL=abaca.pixel:9000
API_DOMAIN=http://abaca.pixel:8080
ACCOUNT_EMAIL_VERIFICATION=optional
SPREADSHEET_EMAIL=abaca-dev@wearepixelmatters.com
# SPREADSHEET_SECONDARY_EMAILS=name@domain.com # comma separated list
GOOGLE_PLACES_KEY=
IMAP_HOST=
IMAP_PORT=
IMAP_USER=
IMAP_PASS=
IMAP_TLS=

# E2E Testing:
# DEBUG=False
# DEFAULT_DATABASE_DSN=postgres://postgres@postgres:5432/db
# CLONE_DATABASE_DSN=postgres://postgres@postgres:5432/db_clone

# Email configuration:
MJ_APIKEY=
MJ_APISECRET=
NO_REPLY_EMAIL=noreply@vilcap.com
PRIMARY_EMAIL=abaca-dev@wearepixelmatters.com
ADMIN_EMAIL=abaca-dev@wearepixelmatters.com
EMAIL_TEMPLATES=660062,660059,660064,659996,660066,660070,1305992,1426568

# JetAdmin configuration:
# JET_PROJECT=
# JET_TOKEN=

# Chargebee configuration:
# CHARGEBEE_KEY=
# CHARGEBEE_SITE=