{% extends "admin/change_list.html" %}
{% load i18n admin_urls static admin_list %}

{% block search %}
  {% search_form cl %}
  <a href="?refresh" id="refresh-results-btn">Refresh matching results</a>

  {% if supporter %}
  <table class="side-bar">
    <tr>
      <th>Investing Level Range</th>
      <th>Level Weight</th>
    </tr>
    <tr>
      <td>{{ supporter.investing_level_range }}</td>
      <td>
        {% if supporter.level_weight %}
          {{ supporter.level_weight.name }} ({{ supporter.level_weight.value }})
        {% elif default_weights %}
          {{ default_weights.level }}
        {% endif %}
      </td>
    </tr>
    <tr>
      <th>Sectors of Interest</th>
      <th>Sectors Weight</th>
    </tr>
    <tr>
      <td>
        {% if supporter.sectors.count %}
          <ul>
            {% for sector in supporter.sectors.all %}
              <li>{{ sector.name }}</li>
            {% endfor %}
          </ul>
        {% else %}
         <p>-</p>
        {% endif %}
      </td>
      <td>
        {% if supporter.sectors_weight %}
          {{ supporter.sectors_weight.name }} ({{ supporter.sectors_weight.value }})
        {% elif default_weights %}
          {{ default_weights.sector }}
        {% endif %}
      </td>
    </tr>
    <tr>
      <th>Locations of Interest</th>
      <th>Locations Weight</th>
    </tr>
    <tr>
      <td>
        {% if supporter.locations.count %}
          <ul>
            {% for location in supporter.locations.all %}
              <li>{{ location.formatted_address }}</li>
            {% endfor %}
          </ul>
        {% else %}
          <p>-</p>
        {% endif %}
      </td>
      <td>
        {% if supporter.locations_weight %}
          {{ supporter.locations_weight.name }} ({{ supporter.locations_weight.value }})
        {% elif default_weights %}
          {{ default_weights.location }}
        {% endif %}
      </td>
    </tr>
    <tr>
      <th>Responses</th>
      <th>Responses Weight</th>
    </tr>
    {% for criteria in supporter.criteria_set.all %}
    <tr>
      <td>
        <div>
          <span>{{ criteria.name }}</span>
          {% if criteria.desired %}
            <p>{{ criteria.desired }}</p>
          {% else %}
            <ul>
              {% for answer in criteria.answers.all %}
                <li>{{ answer.value }}</li>
              {% endfor %}
            </ul>
          {% endif %}
        </div>
      </td>
      <td>
        {% if criteria.criteria_weight %}
          {{ criteria.criteria_weight.name }} ({{ criteria.criteria_weight.value }})
        {% elif default_weights %}
          {{ default_weights.response }}
        {% endif %}
      </td>
    </tr>
    {% endfor %}
    {% if not supporter.criteria_set.count %}
    <tr>
      <td>-</td>
      <td>-</td>
    </tr>
    {% endif %}
  </table>

  {% else %}
  <table class="side-bar">
    <tr>
      <th>VIRAL Level</th>
    </tr>
    <tr>
      <td>{{ viral_level }}</td>
    </tr>
    <tr>
      <th>Sectors</th>
    </tr>
    <tr>
      <td>
        {% if company.sectors.count %}
          <ul>
            {% for sector in company.sectors.all %}
              <li>{{ sector.name }}</li>
            {% endfor %}
          </ul>
        {% else %}
         <p>-</p>
        {% endif %}
      </td>
    </tr>
    <tr>
      <th>Location</th>
    </tr>
    <tr>
      <td>
        {% if company.locations.count %}
          <p>{{ company.locations.first.formatted_address }}</p>
        {% else %}
          <p>-</p>
        {% endif %}
      </td>
    </tr>
    <tr>
      <th>Responses</th>
    </tr>
    {% for response in entrepreneur_responses.all %}
    <tr>
      <td>
        <div>
          <span>{{ response.question }}</span>
          {% if response.value %}
            <p>{{ response.value }}</p>
          {% else %}
            <ul>
              {% for answer in response.answers.all %}
                <li>{{ answer.value }}</li>
              {% endfor %}
            </ul>
          {% endif %}
        </div>
      </td>
    </tr>
    {% endfor %}
    {% if not entrepreneur_responses.count %}
    <tr>
      <td>-</td>
    </tr>
    {% endif %}
  </table>
  {% endif %}
{% endblock %}

{% block footer %}
{{ block.super }}
<script type="text/javascript">
// Refresh button
const refreshBtn = document.getElementById('refresh-results-btn')
refreshBtn.addEventListener('click', () => {
  document.body.classList.add('refreshing')
});

// Clear refresh query param (if exists) to avoid performance issues:
const queryString = window.location.search;
if (queryString.includes("refresh")) {
  window.history.pushState({}, document.title, window.location.pathname);
}

// Open links on pop-up windows:
function windowpop(url, width, height) {
  const left = screen.width;
  const top = (screen.height / 2) - (height / 2);
  window.open(url, "", `menubar=no,toolbar=no,status=no,width=${width},height=${height},top=${top},left=${left}`);
}
</script>
{% endblock %}

{% block object-tools %}
<style>
body.refreshing {
  cursor: progress;
  opacity: 0.2;
}

#refresh-results-btn {
  display: flex;
  width: 165px;
  padding: 3px 12px;
  margin: 10px 0 20px auto;

  background: #999;
  font-weight: 400;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  color: #fff;
  border-radius: 15px;
  cursor: pointer;
  outline: none;
}

#refresh-results-btn:hover {
  background: #333;
}

#changelist table.side-bar {
  width: 16%;
  float: right;
}

table.side-bar tr:not(:first-of-type) th {
  padding-top: 30px;
}

table.side-bar ul {
  margin-top: 0;
  margin-left: 8px;
}

table.side-bar li {
  padding: 0 0 2px;
}

table.side-bar + #changelist-form {
  width: 83%;
  float: left;
}
</style>
{% endblock %}