
{% extends "admin/change_form.html" %}
{% load i18n %}

{% block object-tools-items %}
  <li><a id="loginas-link" href="#"><i class="icon-user icon-alpha75"></i>{% trans "Log in as user" %}</a></li>
  {{ block.super }}
{% endblock %}

{% block footer %}
{{ block.super }}
    <form method="post" id="loginas-form" action="{{ target_url }}" style="display: none">
        {% csrf_token %}
    </form>
    <script>
    django.jQuery(function() {
      django.jQuery('#loginas-link').click(function() {
        django.jQuery.ajax({
          type: "GET",
          url: "{{ target_url }}",
          headers: {
            "Authorization": "Token {{ token }}",
          },
        }).done(function() {
          window.open("http://{{ redirect_url }}/auth/admin/{{ access_hash }}")
        })
        .fail(function(e) {
          console.log(e)
          alert("Token expired. Refresh the page and try logging in again.");
        });
      });
      return false;
    });
    </script>
{% endblock %}