{% extends "admin/change_form.html" %}

{% load i18n %}
{% load static %}

{% block extrastyle %}
    {{ block.super }}
    <style>.sortedm2m-item.hidden { display: none !important; }</style>
{% endblock %}

{% block form_top %}
    <input type="hidden" id="team_member_question_ids" value="{{ team_member_question_ids }}" disabled>
    {{ block.super }}
{% endblock %}

{% block admin_change_form_document_ready %}
    {{ block.super }}
    <script type="text/javascript" src="{% static 'js/questionbundle-form.js' %}"></script>
{% endblock %}